{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "quiz/navbar.html" %}
    <br><br><br><br><br>
    <div class="jumbotron">
      <h3>Saytdan muvaffaqiyatli chiqdingiz!</h3>
      <h5>Yuqoridagi menyu orqali kerakli bo'limga o'ting!</h5>
      <a class='btn btn-success btn-lg' href="/">Asosiy</a>
    </div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "quiz/footer.html" %}

  </body>
</html>
