{% extends 'teacher/teacherbase.html' %}
{% load i18n %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
    <h2>Combined View</h2>

    <table id="results-table" border="1" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>{%trans "Xodim Tabel Nomeri " %}</th>
          <th>{%trans "Soha" %}</th>
          <th>{%trans "Bahosi foizlarda" %}</th>
          <th>{%trans "Vaqt" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for result_data in results_data %}
          {% for result in result_data.results %}
            <tr>
              <td>{{ result_data.student.user.username }}</td>
              <td>{{ result_data.course.course_name }}</td>
              <td>{{ result.marks }}</td>
              <td>{{ result.date }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-success btn-lg" onclick="exportToExcel()">{%trans "Excel formatda yuklab olish" %}</button>
<br><br><br><br><br><br>
<script>
    function exportToExcel() {
      // Get the table content
      const table = document.getElementById('results-table');
      const ws = XLSX.utils.table_to_sheet(table);
  
      // Create a workbook with a single sheet
      const wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
  
      // Save the workbook as an Excel file
      XLSX.writeFile(wb, 'results.xlsx');
    }
  </script>
{% endblock content %}