{% extends 'student/studentbase.html' %}
{% load i18n %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

	      <h3 class=" text-center">{%trans "Testni boshlashdan oldin bu yerdagi qoidalar bilan tanishing !" %}</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body">

                    <h4 class="card-title">{%trans "Test tafsilotlari :" %}</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>{%trans "Soha nomi :" %} {{course.course_name}}</li>
                            <li>{%trans "Jami savol :" %} {{total_questions}}</li>
                            <li>{%trans "Vaqt (minut):" %} {{taym}} </li> 
                            <li>{%trans "Jami urinishlaringiz:" %} {{quiz_attempt}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">{%trans "Qoidalar :" %}</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>{%trans "Barcha savollar ko'p tanlovli savollardir." %}</li>
                            <li><span class="text-danger">{%trans "Faqat bitta tanlov to'g'ri." %}</span></li>
                            <li>{%trans "Har bir savol turli belgilarga ega" %}</li>
                            <li>{%trans "Iloji boricha tezroq javob berishga harakat qiling." %}</li>
                            <!-- <li>If you press refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as attempted.</li> -->
                            <li>{%trans "Savollar har bir foydalanuvchi uchun tasodifiy ko'rsatiladi." %}</li>
                            <li>{%trans "Javobni yuborganingizda darhol baholaringiz aytiladi." %}</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-info">{%trans "Testni boshlash" %}</a>
                </div>  
                <div class="card-footer">{%trans "Omad Tilaymiz!" %}</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}
